/*
    ## MAIN STYLE USED THROUGHOUT THE WEBSITE ##
    In this file:

    1. BASE STRUCTURE
        1.0 - 
        1.1 - Grid Layout
        1.2 - Menu Cards
    2. TYPOGRAPHY
        2.0 - Base HTML
        2.1 - Martin Grove Styles
*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(244, 244, 244, 1);
}

.header {
    background-color: white;
    height: 100%;
}

.masthead {
    text-align: center;
    margin-bottom: -50px;
}

nav {
    background-color: white;
    border-bottom: 0.5px;
    border-bottom-color: rgba(221, 221, 221, 1);
    border-bottom-style: solid;
    height: 45px;
    line-height: 45px;
    margin-top: -20px;
}

.nav-link {
    font-size: 16px;
    width: 71px;
    margin: 15px;
}

.cart {
    text-align: center;
}

.cartlabel {
    margin-top: 40px;
    margin-bottom: -15px;
}

.titlecard {
    background: white;
    border-top-color: rgba(221, 221, 221, 1);
    border-bottom-color: rgba(221, 221, 221, 1);
    border-top-style: solid;
    border-bottom-style: solid;
    border: 0.5px;
    margin-bottom: -15px;
    text-align: center;
}

.productCard {
    width: 50%;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgba(255,255,255, 1);
    border: none;
    box-shadow: 0px 2px 5px rgba(204, 204, 204, 0.349019);
}

.productTitle {
    font-size: 18px;
    color:#333333;
}

.buttonGreen {
    color: rgb(255, 255, 255);
    width: 140px; 
    height: 30px;
    font-size: 16px;
    background-color: rgba(64, 152, 110, 1);
    border-color: rgba(62, 150, 108, 1);
    border-width: 2px;
    border-style: solid;
}

.orderCart {
    background-color: rgb(255, 255, 255);
}

.orderCard {
    background: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 80px;
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-top-color: rgb(224, 224, 224);
    border-top-style: solid;
    border-top-width: 0.5px;
    margin-bottom: -3px;
}

.warningCard {
    height: 200px;
}